.paymentpage {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: MerriweatherSans;
	color: var(--font-color-dark);
}

.payment__boxContent {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.payment__img {
	width: 50%;
}

.payment__input {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 2rem 0;
}

.payment__input-label {
	font-size: var(--body-text);
}

.payment__input-number {
	width: 80%;
	height: 2.5rem;
	border-radius: 10px;
	border: none;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	background: var(--font-color-white);

	padding: 0 1rem;
	font-family: MerriweatherSans;
	color: var(--font-color-dark);
}

.payment__total {
	margin-top: auto;
	font-family: anton;
	font-size: var(--header-size);
}

.payment__menuLink {
	margin-top: auto;
	color: var(--font-color-dark);
	font-size: 0.7rem;
}
.payment__buttonContainer {
	width: 100%;
	margin-top: auto;
	display: flex;
	justify-content: center;
}

.payment__button {
	width: 70%;
	margin-top: auto;
	margin-bottom: 4.5rem;
}
