/* #region footer-phone */
.footer__container-phone {
	padding: 1.5em; 
	color: var(--font-color-white);
	font-family: 'MerriweatherSans';
	font-size: var(--body-text);
	position: fixed;
	bottom: 0; 
  left: 0;
  right: 0;
  z-index: 100;
	height: auto;
	max-width: 1200px;
}

.footer__content {
	max-width: 100%;
	margin: 0 auto; 
}

.footer__span {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
}

.footer__contact {
	margin: 0; 
	line-height: 1.4;
}

.footer__media {
  display: flex;
  gap: .5em;
}

.footer__media img {
  height: 30px;
  width: 30px;
}
/* #endregion footer-phone */

/* #region footer-desktop */

.footer__container-desktop {
	padding: 1.6em; 
	color: var(--font-color-white);
	font-family: 'anton';
	letter-spacing: var(--spacing-wide);
	position: fixed;
	bottom: 0; 
  left: 0;
  right: 0;
  z-index: 100;
	/*height: auto;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.footer__span-desktop {
	display: flex;
	justify-content: space-between; 
	align-items: center;
	width: 1200px;
}

.footer__info {
	display: flex;
	flex-direction: row;
	gap: 4em;
}

.footer__info-box h4 {
	font-size: 14px;
	margin-bottom: .5em;
}

.footer__info-box p {
	font-size: 12px;
	font-family: 'MerriweatherSans';
}

.footer__media-desktop {
  display: flex;
  gap: .5em;
}

.footer__media-desktop img {
  height: 40px;
  width: 40px;
}

/* #endregion footer-desktop */


@media (max-width: 900px) {
  .footer__container-desktop {
		display: none;
	}
}

@media (min-width: 900px) {
  .footer__container-phone {
		display: none;
	}
}