.navbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden; 
}

.navbar__logo {
  width: 70px;
}

.navbar__icons-right {
	display: flex;
	align-items: center;
}

.navbar__menuIcon {
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  gap: 0.4rem;
  z-index: 1001; 
	margin-right: .5rem;
}

.navbar__cart-link {
	position: relative;
	display: flex; 
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--box-white);
	margin-right: 2rem;
}

.navbar__cart-icon {
	width: 40px;
	opacity: 0.8;
}

.navbar__cart-badge {
	position: absolute;
	bottom: -6px;      
	right: -6px;  
	background-color: #020B28;
	color: var(--font-color-white);
	font-family: 'MerriweatherSans';
	font-size: .8rem;
	min-width: 24px; 
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 4px;
	line-height: 1;
	z-index: 10;
}

.bar {
  width: 100%;
  border-bottom: 4px solid var(--box-white);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.navbar__menuIcon.open .bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.navbar__menuIcon.open .bar2 {
  opacity: 0;
}
.navbar__menuIcon.open .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.navbar__menu {
  position: fixed; 
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--bg-gradient);
  border-radius: 3px;
  z-index: 1000; 
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.navbar__menu.visible {
  box-shadow: -4px 4px 5px rgba(132, 132, 132, 0.5);
  transform: translateX(0);
}

.navbar__menu-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  margin-top: 3rem;
}

.navbar__menuLinks {
  font-family: 'anton';
	letter-spacing: var(--spacing-wide);
  font-size: var(--menu-item);
  text-decoration: none;
  color: var(--font-color-white);
}

.active-link {
  text-align: center;
  width: 90%;
  border: 1px solid var(--box-white);
  border-radius: 3px;
  padding: 0.6rem;
}


/* .navbar__logout {
	font-size: var(--menu-item);
	font-family: anton;
	background: none;
	border: none;
	color: var(--font-color-white);
	cursor: pointer;
} */