.quantity__buttons-wrapper {
	display: flex;
	align-items: center;
	color: rgb(0, 0, 0);
	overflow: hidden;
	height: 30px;
}

.quantity__button {
	background-color: #020B28;
	color: white;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-weight: bold;
	font-size: .8rem;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	transition: background-color 0.1s;
	font-family: 'MerriweatherSans';
}

.quantity__display {
  padding: 0 10px;
  font-size: 1rem;
  min-width: 35px;
  width: 35px;
  text-align: center;
  font-family: 'MerriweatherSans';
}