.menu__list {
  display: flex;
  flex-direction: column;
}

.loading__message {
	text-align: center;
	margin-top: 1em;
	font-size: 1em;
	font-family: 'MerriweatherSans';
  color: var(--font-color-dark);
}

.menu__item-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: .5em;
  border-bottom: 1px solid #000000;
}

.menu__item-card:last-child {
  border-bottom: none; 
}

.item__details {
  flex-grow: 1;
  margin-right: 15px; 
}

.item__name {
  font-family: 'anton';
  letter-spacing: var(--spacing-wide);
  font-size: var(--menu-item);
  margin-bottom: .5em;
  color: var(--font-color-dark);
}

.item__description {
  font-size: .8rem;
  font-family: 'MerriweatherSans';
  color: var(--font-color-dark);
}

.item__price-control {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 15px;
  min-width: 100px;
}

.item__price {
  font-weight: bold;
  font-size: 1.1rem;
  font-family: 'anton';
  letter-spacing: var(--spacing-wide);
  margin-bottom: .5em;
  color: var(--font-color-dark);
}

.button__checkout-wrapper {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px; 
  z-index: 990; 
}

.button__checkout {
  width: 280px; 
  padding: 15px 20px;
}

@media (min-width: 900px) {
  .button__checkout-wrapper {
		margin-bottom: 125px;
	}
}